# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenvs (even if you don't use them)
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Data / outputs
*.xlsx
*.csv
*.log
*.tmp
